@import "tailwindcss";

@theme {
	--color-background: #fafafa;
	--color-foreground: #191414;
	--color-link: #0921ea;
	--font-sans: var(--font-abc-diatype), ui-sans-serif, system-ui, sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--color-background);
	color: var(--color-foreground);
	font-family: var(--font-sans);
}
